
/* @import url('https://fonts.cdnfonts.com/css/montserrat'); */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
}

#particles-js{
    height: 100%;
    width: 100%;
    background: #000;
    position: absolute;
}



/* NAVBAR ........................ */



.navbar
{
    margin-top: 1.1%;
    padding-right: 0%;
    position: relative;
    background-color: #000;
    width: 100%;
    height: 75px;
    color: #fff;
}

.navbar img
{
    position: relative;
    float: left;    
    padding: 14px 2px;
    padding-left: 10px;
}

.navbar span
{
    position: relative;
    padding: 21px 2px;
    font-size: 23px;
    font-weight: 600;
    float: left;
}

.navbar ul
{
    position: relative;
    padding-top: 14px;
    padding-right: 50px;
    float: right;
    list-style-type: none;

}

.navbar ul li
{
    position: relative;
    float: left;
    padding-right: 40px;
}

.navbar ul li a
{
    font-size: 14px;
    position: relative;
    font-weight: 600;
    text-decoration: none; 
    color: inherit;
    border: 2px solid #000;
    padding: 5px 10px;
    transition: 0.3s;
}
 
 .navbar ul li a:hover
{
    position: relative;
    color: #FEE715FF ;
    font-weight: 600;
} 




/* TEXT BELOW THE NAVBAR........... */



.text-box{
    margin-top: 15%;
    margin-bottom: 8%;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 25px;
    color: white;
    position: relative;
    padding-left: 50px;

}

.text-box .text{
    font-size: 46px;
    position: relative;
}


.text-box .btn{
    position: relative;
    margin-top: 6px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #FEE715FF ;
    color: #FEE715FF ;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.3s;
}

.text-box .btn:hover{
    position: relative;
    background-color: #FEE715FF ;
    color: #000;
    transition: 0.3s;
}

.text-box .text .auto-input{
    color: #FEE715FF ;
    position: relative;
}




/* TECHNOLOGY....... */



.cont-1{
    position: relative;
    margin: 0%;
    padding: 0%;
    height: 521px;
    width: 100%;
    background-color: #FEE715FF ;
    color: #000;


}

/* .cont-1:after{
    content: '';
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
} */


.cont-1 #slr_tech_logo{
    position: relative;
    left: 8%;
    margin-top: 60px;
    padding-right: 40px;
    float: left;
}


.cont-1 h1{
    text-decoration: underline;
    margin-left: 3em;
    position: relative;
    width: 20em;
    left: 6%;
    padding-top: 70px;
    margin-top: 10em;
    float: bottom;
}


.cont-1 h4{
    position: absolute;
    line-height: 36px;
    width: 34%;
    font-size: 25px;
    margin-top: 60px;
    left: 8%;
    float: left;
}


.cont-1 #nural_net_gif{
    
    position: relative;
    border: black 3px solid;
    left: 40%;
    margin-top: 31px;
    box-shadow:  lightcoral 8px 8px, black 10px 10px, lightblue 16px 16px,  black 18px 18px;;
    transition: 0.3s;
}

.cont-1 #btn2{
    position: relative;
    font-size: medium;
    font-weight: 550;
    margin-top: 240px;
    margin-left: 7.3em;
    display: inline-block;
    border-radius: 6px;
    border: 3px solid black;
    color: #020412;
    padding: 9px 29px;
    text-decoration: none;
    transition: 0.3s;
}

.cont-1 #btn2:hover{
    position: relative;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #FEE715FF ;
    transition: 0.3s;
}


/* SLR LAB */

.cont-2{
    margin-top: -3%;
    padding-top:2%;
    height: 650px;
    width: 100%;
    background-color: #000;
    color: #FEE715FF ;
}

.cont-2 .slr_lab_img{
position: relative;
    border: 3px SOLID black;
    box-shadow: #FEE715FF -8px 8px, black -10px 10px, violet  -16px 16px, black -18px 18px;
    margin-top: 90px;
    left: 4%;
} 

.cont-2 .slr_lab_logo{
    position: absolute;
    margin-top: 68px;
    left: 43%;
}

.cont-2 h1{
    text-decoration: underline;
    position: absolute;
    left: 48%;
    margin-top: -370px;
}

.cont-2 h4{
    line-height: 36px;
    position: absolute;
    width: 38%;
    font-size: 25px;
    margin-top: -250px;
    left: 44%;
    float: left;
}


.cont-2 #btn3{
    position: absolute;
    font-size: medium;
    font-weight: 550;
    margin-top: 29%;
    margin-left: 10.3em;
    display: inline-block;
    border-radius: 6px;
    border: 3px solid #FEE715FF ;
    color: #FEE715FF ;
    padding: 9px 29px;
    text-decoration: none;
    transition: 0.3s;  
}

.cont-2 #btn3:hover{
    position: absolute;
    background-color: #FEE715FF ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #000;
    transition: 0.3s;
}   





.cont-3{
    margin-top: 4%;
    padding: 0%;
    height: 800px;

    width: 100%;
    background-color: #FEE715FF ;
    color: #000;
}

.cont-3 #help_section_logo{
    position: absolute;
    left: 40%;
    margin-top: 45px;
    padding-right: 40px;
    float: center;
}

.cont-3 h1{
    text-decoration: underline;
    margin-left: 3.0em;
    position: relative;
    width: 20em;
    left: 40%;
    padding-top: 60px;
    margin-top: -6em;
    float: bottom;
}

.cont-3 h4{
    position: relative;
    text-align: center;
    line-height: 36px;
    width: 67%;
    height: 30%;
    font-size: 25px;
    margin-top: 24px;
    left: 16%;
    float: left;
}

.cont-3 #help_section_link{
    position: absolute;
    border: black 3px solid;
    left: 55%;
    margin-top: 16.5em;
    box-shadow:  lightcoral 8px 8px, black 10px 10px, lightblue 16px 16px,  black 18px 18px;
    transition: 0.3s;
}

.cont-3 #btn4{
    position: relative;
    font-size: medium;
    font-weight: 550;
    margin-top: 7.5%;
    margin-left: -21em;
    display: inline-block;
    border-radius: 6px;
    border: 3px solid #020412;
    color: #020412;
    padding: 9px 29px;
    text-decoration: none;
    transition: 0.3s;  
}

.cont-3 #btn4:hover{
    position: absolute;
    background-color: #020412;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #fff724;
    transition: 0.3s;
}
.cont-3 #help_section_link2{
    position: absolute;
    border: 3px SOLID black;
    box-shadow: lightcoral -8px 8px, black -10px 10px, lightblue -16px 16px, black -18px 18px;
    margin-top: 15.5em;
    left: 7%;
}






/* footer */
.footer-style {
    position: relative;
    background: #fff;
    height: 250px;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:0%;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  .menu__link:hover{
      color: white;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer-style  p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/static/IMAGES/wave.png);
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }






  .footer-style > #footer-style-container
{
    height: 80%;
}

.footer-style > #footer-style-container > #footer-style-contect-us
{
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: 40px;
    text-align: center;
}

.footer-style > #footer-style-container > #footer-style-contect-us > h3
{
    position: relative;
    font-size: 25px;
    margin-top: 36px;
    margin-bottom: 20px;
    margin-left: -56%;
}

.footer-style > #footer-style-container > #footer-style-contect-us > h4
{
    position: relative;
    margin-left: -50%;
    font-size: 20px;
}


.footer-style > #footer-style-container > #footer-style-contect-us > img
{
    float: left;
    margin-left: 13%;
    margin-top: 21px;
    margin-left: -20%;
}

.footer-style > #footer-style-container > #footer-style-contect-us > a
{
    margin-left: -10%;
    float: left;
    margin-top: 19px;
    text-decoration: none;
    color: #020412;
    font-size: 17px;
}

.footer-style > #footer-style-container > #footer-style-contect-us > a:hover
{
    color: blue;
    text-decoration: underline;
}

.footer-style > #footer-style-container > #footer-style-menu
{
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: 100px;
    text-align: center;
}

.footer-style > #footer-style-container > #footer-style-menu > h3
{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 17%;
}

.footer-style > #footer-style-container > #footer-style-menu > ul
{
    list-style-type: none;
}

.footer-style > #footer-style-container > #footer-style-menu > ul > li
{
    padding-bottom: 8px;
}

.footer-style > #footer-style-container > #footer-style-menu > ul > li > a
{
    margin-left: 6%;
    text-decoration: none;
    font-size: 17px;
    color: #020412;
}

.footer-style > #footer-style-container > #footer-style-menu > ul > li > a:hover
{
    color: blue;
    text-decoration: underline;
}

.footer-style > #footer-style-container > #footer-style-follow-us
{
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: 100px;
}

.footer-style > #footer-style-container > #footer-style-follow-us > h3
{
    margin-left: 57%;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: -18%;
}

.footer-style > #footer-style-container > #footer-style-follow-us > ul
{
    list-style-type: none;
}

.footer-style > #footer-style-container > #footer-style-follow-us > ul > li
{
    margin-left: 26%;
    margin-right: 0%;
    padding-bottom: 4px;
    padding-left: 38%;
}

.footer-style > #footer-style-container > #footer-style-follow-us > ul > li > a
{
    position: absolute;
    padding-left: 8px;
    padding-top: 4px;
    text-decoration: none;
    color: #020412;
}

.footer-style > #footer-style-container > #footer-style-follow-us > ul > li > a:hover
{
    color: blue;
    text-decoration: underline;
}
/* .footer-style > #footer-style-address > img
{
    position: relative;
    float: left;
    padding-top: 10px;
    padding-left: 35%;
} */


.footer-style > #footer-style-address
{
    color: #020412;
    text-align: center;
    padding: 7px;
}

.footer-style > #footer-style-address > p
{
    color: #020412;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 13px;
}

 /* .navbar li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 100%;
  }
  .navbar li:hover::after {
    width: 100%;
    height: 1px;
    background-color: #fff;
  } */





@media (max-width: 991px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    
        }
    
        .navbar ul {
            top: 80%;
            left: 5%;
        }
    
        .navbar span{
            left: 53%;
        }
        .navbar img{
            left: 53%;
            width: 70px;
        }

        .navbar ul li a {
            font-size: 26px;
            position: relative;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
            border: 2px solid #000;
            padding: 5px 10px;
            transition: 0.3s;
        }
    
    
    
        #particles-js{
            width: 119%;
        }








    .text-box .text{
        font-size: 30px;
        position: relative;
        line-height: 65px;
        width: 100%;

    }




    .cont-1{
        height: 805px;
        width: 119%;

    }
    
    .cont-1 h4{
        text-align: center;
        width: 80%;
        position: absolute;
    }

    .cont-1 h1{
        margin-left: 16em;
    }

    .cont-1 #slr_tech_logo{
        left: 34%;
        visibility: hidden;
    }

    .cont-1 #nural_net_gif{
        position: absolute;
        left: 27%;
        margin-top: 309px;
    }

    .cont-1 #btn2{
        margin-top: 200px;
        left: 31%;
        position: absolute;
    }





    .cont-2{
        height: 1005px;
        width: 80%;
    }
    
    .cont-2 h4{
        text-align: center;
        width: 100%;
        position: relative;
        left: 25%;
        top: 25%;
    }

    .cont-2 h1{
        margin-left: 13em;
        position: relative;
        left: 29%;
    }

    .cont-2 .slr_lab_logo{
        position: relative;
        top: 0%;
        left: 0%;
        visibility: hidden;
    }

    .cont-2 .slr_lab_img{
        position: relative;
        left: 45%;
        top: 37%;
    
    }

    .cont-2 #btn3{
        margin-top: 240px;
        left: 37%;
        position: absolute;
    }



    .cont-3{
        height: 1005px;
        width: 119%;
    }
    
    .cont-3 h4{
        position: relative;
        left: 17%;
        top: 4%;
    }

    .cont-3 h1{
        margin-left: 7em;
        position: relative;
        left: 30%;
    }

    .cont-3 #help_section_logo{
        font-size: 50%;
        left: 47%;
        visibility: hidden;
    }

    .cont-3 #help_section_link{
        height: 40%;
        width: 50%;
        position: relative;
        left: 27%;
        top: -27%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
    }

    .cont-3 #help_section_link2{
        position: relative;
        left: -23%;
        top: 3%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
        visibility: hidden;
    }

    .cont-3 #btn4{
        position: absolute;
        top: -56%;
        left: -29%;
        visibility: hidden;
    }




    .footer-style{
        display: flex;
        height: 950px;
        width: 105%;
    }

    .footer-style #footer-style-container {
        display: flex;
        flex-direction: column;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us {
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 507px;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }


    .footer-style > #footer-style-container > #footer-style-contect-us > h3{
        font-size: 30px;
        margin-left: -53%;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > h4{
        font-size: 35px;
        margin-left: -88%;
        font-size: 30px;
        width: 228%;

    }

    .footer-style > #footer-style-container > #footer-style-contect-us > img{
        margin-left: -66%;
    }


    .footer-style > #footer-style-container > #footer-style-menu{
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 500px;
    }

    .footer-style > #footer-style-container > #footer-style-menu > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }

    .footer-style > #footer-style-container > #footer-style-menu ul{
        font-size: 40px;
        margin-left: -118%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-menu > h3 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: -63%;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us {
        height: 100%;
        width: 29%;
        position: relative;
        margin-left: 369px;
    }
    
    .footer-style > #footer-style-container > #footer-style-follow-us > h3 {
        font-size: 30px;
        width: 118%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 27%;
    }


    .footer-style > #footer-style-container > #footer-style-follow-us ul{
        font-size: 35px;
        margin-left: -127%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us img{
        height: 30px;
    }

    .footer-style > #footer-style-address > p {
        color: #020412;
        padding-top: 155px;
        padding-bottom: 12px;
        font-size: 19px;
        padding-left: 17%;
    }
}














@media (max-width: 780px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    
        }
    
        .navbar ul {
            top: 80%;
            left: 0%;
        }
    
        .navbar span{
            left: 45%;
        }
        .navbar img{
            left: 47%;
            width: 70px;
        }
    
    
    
        #particles-js{
            width: 123%;
            height: 104%;      
        }








    .text-box .text{
        font-size: 36px;
        position: relative;
        line-height: 65px;
        width: 100%;

    }




    .cont-1{
        height: 805px;
        width: 123%;

    }
    
    .cont-1 h4{
        text-align: center;
        width: 80%;
        position: absolute;
    }

    .cont-1 h1{
        margin-left: 13em;
    }

    .cont-1 #slr_tech_logo{
        left: 34%;
        visibility: hidden;
    }

    .cont-1 #nural_net_gif{
        position: absolute;
        left: 27%;
        margin-top: 309px;
    }

    .cont-1 #btn2{
        margin-top: 217px;
        left: 30%;
        position: absolute;
    }





    .cont-2{
        height: 1005px;
        width: 80%;
    }
    
    .cont-2 h4{
        text-align: center;
        width: 128%;
        position: relative;
        left: 15%;
        top: 27%;
    }

    .cont-2 h1{
        margin-left: 13em;
        position: relative;
        left: 20%;
    }

    .cont-2 .slr_lab_logo{
        position: relative;
        top: 0%;
        left: 0%;
        visibility: hidden;
    }

    .cont-2 .slr_lab_img{
        position: relative;
        left: 41%;
        top: 37%;
    
    }

    .cont-2 #btn3{
        margin-top: 240px;
        left: 32%;
        position: absolute;
    }





    .cont-3{
        height: 1005px;
        width: 123%;
    }
    
    .cont-3 h4{
        position: relative;
        left: 17%;
        top: 4%;
    }

    .cont-3 h1{
        margin-left: 7em;
        position: relative;
        left: 25%;
    }

    .cont-3 #help_section_logo{
        font-size: 50%;
        left: 47%;
        visibility: hidden;
    }

    .cont-3 #help_section_link{
        height: 41%;
        width: 63%;
        position: relative;
        left: 21%;
        top: -27%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
    }

    .cont-3 #help_section_link2{
        position: relative;
        left: -23%;
        top: 3%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
        visibility: hidden;
    }

    .cont-3 #btn4{
        position: absolute;
        top: -56%;
        left: -29%;
        visibility: hidden;
    }




    .footer-style{
        display: flex;
        height: 950px;
        width: 105%;
    }

    .footer-style #footer-style-container {
        display: flex;
        flex-direction: column;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us {
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 410px;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }


    .footer-style > #footer-style-container > #footer-style-contect-us > h3{
        font-size: 30px;
        margin-left: -53%;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > h4{
        font-size: 35px;
        margin-left: -88%;
        font-size: 30px;
        width: 228%;

    }

    .footer-style > #footer-style-container > #footer-style-contect-us > img{
        margin-left: -66%;
    }


    .footer-style > #footer-style-container > #footer-style-menu{
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 425px;
    }

    .footer-style > #footer-style-container > #footer-style-menu > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }

    .footer-style > #footer-style-container > #footer-style-menu ul{
        font-size: 40px;
        margin-left: -122%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-menu > h3 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: -63%;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us {
        height: 100%;
        width: 29%;
        position: relative;
        margin-left: 300px;
    }
    
    .footer-style > #footer-style-container > #footer-style-follow-us > h3 {
        font-size: 30px;
        width: 118%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 27%;
    }


    .footer-style > #footer-style-container > #footer-style-follow-us ul{
        font-size: 35px;
        margin-left: -127%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us img{
        height: 30px;
    }

    .footer-style > #footer-style-address > p {
        color: #020412;
        padding-top: 155px;
        padding-bottom: 12px;
        font-size: 19px;
        padding-left: 17%;
    }
}





@media (max-width: 420px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    
        }
    
        .navbar ul {
            top: 80%;
            left: -42%;
            width: 184%;
        }
    
        .navbar span{
            left: 74%;
        }
        .navbar img{
            left: 73%;
            width: 70px;
        }
    
        .navbar ul li a {
            font-size: 20px;
            position: relative;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
            border: 2px solid #000;
            padding: 5px 10px;
            transition: 0.3s;
        }
    
    
        #particles-js{
            width: 204%;
            height: 156%;      
        }








    .text-box .text{
        font-size: 44px;
        position: relative;
        line-height: 65px;
        width: 209%;

    }

    .text-box p {
        width: 162%;
        margin-top: 18%;
    }




    .cont-1{
        height: 805px;
        width: 204%;

    }
    
    .cont-1 h4{
        text-align: center;
        width: 80%;
        position: absolute;
    }

    .cont-1 h1{
        margin-left: 11em;
    }

    .cont-1 #slr_tech_logo{
        left: 34%;
        visibility: hidden;
    }

    .cont-1 #nural_net_gif{
        position: absolute;
        left: 22%;
        margin-top: 309px;
    }

    .cont-1 #btn2{
        margin-top: 217px;
        left: 30%;
        position: absolute;
    }





    .cont-2{
        height: 1005px;
        width: 140%;
    }
    
    .cont-2 h4{
        text-align: center;
        width: 128%;
        position: relative;
        left: 15%;
        top: 27%;
    }

    .cont-2 h1{
        margin-left: 13em;
        position: relative;
        left: 20%;
    }

    .cont-2 .slr_lab_logo{
        position: relative;
        top: 0%;
        left: 0%;
        visibility: hidden;
    }

    .cont-2 .slr_lab_img{
        position: relative;
        left: 40%;
        top: 37%;
    
    }

    .cont-2 #btn3{
        margin-top: 240px;
        left: 59%;
        position: absolute;
        width: 24%;
    }





    .cont-3{
        height: 1005px;
        width: 204%;
    }
    
    .cont-3 h4{
        position: relative;
        left: 20%;
        top: 4%;
    }

    .cont-3 h1{
        margin-left: 7em;
        position: relative;
        left: 25%;
    }

    .cont-3 #help_section_logo{
        font-size: 50%;
        left: 47%;
        visibility: hidden;
    }

    .cont-3 #help_section_link{
        height: 41%;
        width: 63%;
        position: relative;
        left: 22%;
        top: -27%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
    }

    .cont-3 #help_section_link2{
        position: relative;
        left: -23%;
        top: 3%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
        visibility: hidden;
    }

    .cont-3 #btn4{
        position: absolute;
        top: -56%;
        left: -29%;
        visibility: hidden;
    }




    .footer-style{
        display: flex;
        height: 950px;
        width: 171%;
    }

    .footer-style #footer-style-container {
        display: flex;
        flex-direction: column;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us {
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 324px;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }


    .footer-style > #footer-style-container > #footer-style-contect-us > h3{
        font-size: 30px;
        margin-left: -53%;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > h4{
        font-size: 35px;
        margin-left: -88%;
        font-size: 30px;
        width: 228%;

    }

    .footer-style > #footer-style-container > #footer-style-contect-us > img{
        margin-left: -66%;
    }


    .footer-style > #footer-style-container > #footer-style-menu{
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 348px;
    }

    .footer-style > #footer-style-container > #footer-style-menu > a {
        margin-left: -49%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }

    .footer-style > #footer-style-container > #footer-style-menu ul{
        font-size: 40px;
        margin-left: -122%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-menu > h3 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: -63%;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us {
        height: 100%;
        width: 29%;
        position: relative;
        margin-left: 237px;
    }
    
    .footer-style > #footer-style-container > #footer-style-follow-us > h3 {
        font-size: 30px;
        width: 118%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 27%;
    }


    .footer-style > #footer-style-container > #footer-style-follow-us ul{
        font-size: 35px;
        margin-left: -127%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us img{
        height: 30px;
    }

    .footer-style > #footer-style-address > p {
        color: #020412;
        padding-top: 155px;
        padding-bottom: 12px;
        font-size: 19px;
        padding-left: 17%;
    }
}








@media (max-width: 320px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    
        }
    
        .navbar ul {
            top: 80%;
            left: -38%;
            width: 233%;
        }
    
        .navbar span{
            left: 90%;
        }
        .navbar img{
            left: 91%;
            width: 70px;
        }
    
        .navbar ul li a {
            font-size: 20px;
            position: relative;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
            border: 2px solid #000;
            padding: 5px 10px;
            transition: 0.3s;
        }
    
    
        #particles-js{
            width: 227%;
            height: 156%;      
        }






    .text-box {
            margin-top: 36%;
    }

    .text-box .text{
        font-size: 44px;
        position: relative;
        line-height: 65px;
        width: 209%;

    }

    .text-box p {
        width: 273%;
        margin-top: 18%;
        font-size: 32px;
        line-height: 48px;
    }



    .cont-1{
        height: 805px;
        width: 288%;

    }
    
    .cont-1 h4{
        text-align: center;
        width: 80%;
        position: absolute;
        margin-left: 1rem;
    }

    .cont-1 h1{
        margin-left: 12em;
    }

    .cont-1 #slr_tech_logo{
        left: 34%;
        visibility: hidden;
    }

    .cont-1 #nural_net_gif{
        position: absolute;
        left: 23%;
        margin-top: 309px;
    }

    .cont-1 #btn2{
        margin-top: 224px;
        left: 29%;
        position: absolute;
    }





    .cont-2{
        height: 1005px;
        width: 201%;
    }
    
    .cont-2 h4{
        text-align: center;
        width: 128%;
        position: relative;
        left: 9%;
        top: 27%;
    }

    .cont-2 h1{
        margin-left: 12em;
        position: relative;
        left: 20%;
    }

    .cont-2 .slr_lab_logo{
        position: relative;
        top: 0%;
        left: 0%;
        visibility: hidden;
    }

    .cont-2 .slr_lab_img{
        position: relative;
        left: 35%;
        top: 37%;
    
    }

    .cont-2 #btn3{
        margin-top: 240px;
        left: 71%;
        position: absolute;
        width: 32%;
    }





    .cont-3{
        height: 1005px;
        width: 288%;
    }
    
    .cont-3 h4{
        position: relative;
        left: 19%;
        top: 4%;
    }

    .cont-3 h1{
        margin-left: 7em;
        position: relative;
        left: 25%;
    }

    .cont-3 #help_section_logo{
        font-size: 50%;
        left: 47%;
        visibility: hidden;
    }

    .cont-3 #help_section_link{
        height: 41%;
        width: 63%;
        position: relative;
        left: 20%;
        top: -27%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
    }

    .cont-3 #help_section_link2{
        position: relative;
        left: -23%;
        top: 3%;
        box-shadow:  lightcoral 0px 0px, black 0px 0px, lightblue 0px 0px,  black 0px 0px;
        visibility: hidden;
    }

    .cont-3 #btn4{
        position: absolute;
        top: -56%;
        left: -29%;
        visibility: hidden;
    }




    .footer-style{
        display: flex;
        height: 950px;
        width: 246%;
    }

    .footer-style #footer-style-container {
        display: flex;
        flex-direction: column;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us {
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 324px;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > a {
        margin-left: -47%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }


    .footer-style > #footer-style-container > #footer-style-contect-us > h3{
        font-size: 30px;
        margin-left: -53%;
    }

    .footer-style > #footer-style-container > #footer-style-contect-us > h4{
        font-size: 35px;
        margin-left: -88%;
        font-size: 30px;
        width: 228%;

    }

    .footer-style > #footer-style-container > #footer-style-contect-us > img{
        margin-left: -66%;
    }


    .footer-style > #footer-style-container > #footer-style-menu{
        height: 100%;
        width: 25%;
        position: relative;
        margin-left: 348px;
    }

    .footer-style > #footer-style-container > #footer-style-menu > a {
        margin-left: -49%;
        float: left;
        margin-top: 19px;
        text-decoration: none;
        color: #020412;
        font-size: 24px;
    }

    .footer-style > #footer-style-container > #footer-style-menu ul{
        font-size: 40px;
        margin-left: -122%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-menu > h3 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: -63%;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us {
        height: 100%;
        width: 29%;
        position: relative;
        margin-left: 237px;
    }
    
    .footer-style > #footer-style-container > #footer-style-follow-us > h3 {
        font-size: 30px;
        width: 118%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 27%;
    }


    .footer-style > #footer-style-container > #footer-style-follow-us ul{
        font-size: 35px;
        margin-left: -127%;
        font-size: 30px;
        width: 228%;
        display: block;
    }

    .footer-style > #footer-style-container > #footer-style-follow-us img{
        height: 30px;
    }

    .footer-style > #footer-style-address > p {
        color: #020412;
        padding-top: 155px;
        padding-bottom: 12px;
        font-size: 19px;
        padding-left: 17%;
    }
}